@import "components/input";
@import "components/bottom_menu";
@import "components/player";
@import "components/lyrics";
@import "components/list_music";

html {
	font-family: "Roboto",sans-serif;
	margin: 0;
	
	body {
		margin: 0;
	}
}

i {
	cursor: pointer;
}

.container {
	// max-width: 320px;
	height: 90vh;
	// padding-bottom: 60px;

	.item {
		background-color: rgba(0, 0, 0, 0.7);
		overflow: hidden;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
		position: relative;
		height: 90vh;
		background-size: contain;
		background-repeat: no-repeat;
		color: white;
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url(http://static.metacritic.com/images/products/tv/0/96a85a0acd0d7267c91c1a5e6dfdf16d.jpg);
			background-size: cover;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}
}