html {
	font-family: "Roboto",sans-serif;
}

i {
	cursor: pointer;
}

.player {
	/*width: 320px;*/
	/*background: #333333;*/
	/*opacity: 0.2;*/
	/*position: relative;*/
	/*background-image: url(http://static.metacritic.com/images/products/tv/0/96a85a0acd0d7267c91c1a5e6dfdf16d.jpg);*/
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
	position: relative;
	max-width: 320px;
	min-height: 480px;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 60px;

	&::after {
	    content : "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-image: url(http://static.metacritic.com/images/products/tv/0/96a85a0acd0d7267c91c1a5e6dfdf16d.jpg);
	    background-size: cover;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	}

	.player-ui {
		.title {
			display: flex;
			justify-content: center;
			margin-top: 50px;
			
			h3 {
				margin: 0;
				color: white;
				font-size: 30px;
				font-weight: 100;
			}
		}

		.small {
			padding: 15px 35px 0px 35px;
			display: flex;
			justify-content: space-between;
			
			p, i {
				margin: 0;
				color: white;
				font-size: 14px;
			}
			
			p {
				color: #ddd;
			}
			
			i {
				font-size: 16px;
			}
		}
		
		.progress {
			position: relative;
			height: 2px;
			margin: 30px 20px 0px 20px;
			background: rgba(255, 255, 255, 0.3);
			
			.played {
				width: 20%;
				height: 2px;
				position: absolute;
				background: #F44336;
				
				.circle {
					width: 10px;
					height: 10px;
					background: #F44336;
					border-radius: 50%;
					margin-left: 52px;
					margin-top: -4px;
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
				}
			}
		}
		
		.controls {
			display: flex;
			justify-content: space-between;
			padding: 25px 50px 0px 50px;
			
			i {
				color: white;
				font-size: 32px;
			}
		}
	}

	.nav {
		display: flex;
		justify-content: space-around;
		width: 100%;
		position: absolute;
		bottom: 0;
		background: white;
		border-top: 1px solid #aaaaaa;

		i {
			/*background: red;*/
			padding: 5px;
		}
	}
}