input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.5px 0;
  background: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer; }

input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #F44336;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer; }

input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #F44336;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #F44336;
  cursor: pointer;
  height: 3px; }

.container {
  position: relative;
  margin: auto; }
  .container .item {
    display: none; }

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  border-top: 1px solid #aaaaaa; }
  .nav i {
    padding: 5px;
    font-size: 36px; }

.player .player-ui .title {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .player .player-ui .title h3 {
    margin: 0;
    color: white;
    font-size: 26px;
    font-weight: 100; }

.player .player-ui .small {
  padding: 15px 35px 0px 35px;
  display: flex;
  justify-content: space-between; }
  .player .player-ui .small p, .player .player-ui .small i {
    margin: 0;
    color: white;
    font-size: 22px; }
  .player .player-ui .small p {
    color: #ddd; }

.player .player-ui .progress {
  cursor: pointer;
  position: relative;
  height: 2px;
  margin: 60px 20px 0px 20px;
  background: rgba(255, 255, 255, 0.3); }
  .player .player-ui .progress .played {
    width: 0;
    height: 2px;
    position: absolute;
    background: #F44336; }
  .player .player-ui .progress .loaded {
    width: 0;
    height: 2px;
    position: absolute;
    background: white; }
  .player .player-ui .progress .range_load {
    position: absolute;
    margin-top: 0; }

.player .player-ui .time {
  color: white;
  margin: 8px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px; }

.player .player-ui .controls {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px 0px 50px; }
  .player .player-ui .controls i {
    color: white;
    font-size: 42px; }
  .player .player-ui .controls .pause {
    display: none; }

.lyrics {
  background: green;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 300px; }
  .lyrics li {
    border-bottom: 1px solid #ddd; }
    .lyrics li p {
      font-size: 16px;
      margin: 0; }
    .lyrics li small > p {
      font-size: 14px; }

html {
  font-family: "Roboto",sans-serif;
  margin: 0; }
  html body {
    margin: 0; }

i {
  cursor: pointer; }

.container {
  height: 90vh; }
  .container .item {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    color: white; }
    .container .item::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(http://static.metacritic.com/images/products/tv/0/96a85a0acd0d7267c91c1a5e6dfdf16d.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: -1; }
