input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.5px 0;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #F44336;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #F44336;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: #F44336;
  cursor: pointer;
  height: 3px;
}