.lyrics {
    // background: green;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: calc(100% - 47px);
    color: rgba(white, 0.8);

    li {
        // margin-top: 1px;
        // border: 1px solid white;
        border-bottom: 1px solid rgba(#ddd, 0.4);
        // position: relative;
        padding: 5px 20px;
        // padding-top: -5px;

        p {
            font-size: 16px;
            margin: 0;
        }

        small > p {
            font-size: 14px;
            margin-top: 5px;
        }

        &.active-lyrics {
            background-color: rgba(black, 0.6);
            color: white;
        }
    }
}