.player {
    // background-color: rgba(0, 0, 0, 0.7);
    // overflow: hidden;
    // box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    // position: relative;
    // height: 90vh;
    // background-size: contain;
    // background-repeat: no-repeat;
    // &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-image: url(http://static.metacritic.com/images/products/tv/0/96a85a0acd0d7267c91c1a5e6dfdf16d.jpg);
    //     background-size: cover;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -1;
    // }
    .player-ui {
        .title {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            h3 {
                margin: 0;
                color: white;
                font-size: 26px;
                font-weight: 100;
            }
        }
        .small {
            padding: 15px 35px 0px 35px;
            display: flex;
            justify-content: space-between;
            p, i {
                margin: 0;
                color: white;
                font-size: 22px;
            }
            p {
                color: #ddd;
            }
        }
        .progress {
            cursor: pointer;
            position: relative;
            height: 2px;
            margin: 60px 20px 0px 20px;
            background: rgba(255, 255, 255, 0.3);
            .played {
                width: 0;
                height: 2px;
                position: absolute;
                background: #F44336;
            }
            .loaded {
                width: 0;
                height: 2px;
                position: absolute;
                background: white;
            }
            .range_load {
                position: absolute;
                margin-top: 0;
            }
        }
        .time {
            color: white;
            margin: 8px 20px 0px 20px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
        }
        .controls {
            display: flex;
            justify-content: space-between;
            padding: 15px 50px 0px 50px;
            i {
                color: white;
                font-size: 42px;
            }
            .pause {
                display: none;
            }
        }
    }
}